
.container {
  max-width: 850px;
	width: 100%;
  margin: 0 auto;
	border-radius:4px;
	background:#fff;
	color:#0c0f2e;
	padding:70px;
	font-family: "Open Sans", sans-serif;
	font-size:13px; 
	-webkit-box-shadow: 1px 1px 13px 1px #000;
	box-shadow: 1px 1px 13px 1px #000;
  padding-bottom: 0px !important;
  margin-bottom: 15px;
}

.btn-formsubmit {
  background:#141631;
}

.rowtitle{ 
  float:left;
  width:100%;
	font-weight:bold;
	color:#202020;
	padding:20px;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	margin-top:10px;
	margin-bottom:20px;
	line-height:30px;
}
	
#rowfooter{ 
  float:left;
  width:100%;
	font-weight:300;
	color:#443838;
	padding:20px;
	height:auto;
	line-height:44px;
	font-size:11px;
  padding-top: 10px;
}
	
#rowcol{ 
	-moz-column-count: 3;
	-moz-column-gap: undefinedpx;
	-webkit-column-count: 3;
	-webkit-column-gap: undefinedpx;
	column-count: 3;
	column-gap: undefinedpx;}

.help-block {
  font-size: 0.7em !important;
  font-weight: 100 !important;
}

@media(max-width:850px)
{
    .leftColumn  { width:100px;  float:none; display:block; position:relative; }
    .rightColumn { max-width:177px; float:none; display:block; position:relative;font-size:10px; }
}	

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px 15%;
  background: url("http://zezwolenia.radbur.com.pl/img/bg.jpg") no-repeat center top #0c0b09;
  	font-family: "Open Sans", sans-serif;
	font-size:13px; 
	color:#fff;
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

/*input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
  padding:5px;
  border-radius:4px;
  border:1px solid #ababab;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}*/

select{padding:5px;
  border-radius:4px;
  border:1px solid #ababab;
  width:50%;}

label {
  float:left;
  width:100px; 
  line-height:30px;
  font-weight: 500 !important;
}
 
@media (max-width: 600px) {



  img {max-width:177px;}
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
 
}

@media (max-width: 990px) {
 #rowfooter{display:none;}
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: left;
  }
}