<!-- <label>Sposób wędkowania: </label>
<select id="fishing_type" name="fishing_type">
<option value="0">2 wędki zwykłe z brzegu (1 jezioro)</option>
<option value="1">2 wędki zwykłe z brzegu (2 jeziora)</option>
<option value="2">Spinning lub 2 wędki zwykłe z brzegu (1 jezioro)</option>
<option value="3">Spinning lub 2 wędki zwykłe z brzegu (2 jeziora)</option>
<option value="4">2 wędki zwykłe z łodzi (1 jezioro)</option>
<option value="5">2 wędki zwykłe z łodzi (2 jeziora)</option>
<option value="6">Spinning lub 2 wędki z łodzi (1 jezioro)</option>
<option value="7">Spinning lub 2 wędki z łodzi (2 jeziora)</option>
<option value="8">Spławik lub spinning z brzegu (wszystkie jeziora)</option>
<option value="9">Spławik lub spinning z łodzi (wszystkie jeziora)</option>
</select> 

<label>Okres wędkowania: </label>
<select id="fishing_period" name="fishing_period">
<option value="0">Cały sezon</option>
<option value="1">1 miesiąc</option>
<option value="2">14 dni</option>
<option value="3">7 dni</option>
<option value="4">3 dni</option>
<option value="5">1 dzień</option>
</select> 

<label>Data rozpoczęcia wędkowania:</label>
<input type="text" id="date" name="date">

<label>Wybór wód: </label>  
<input type="checkbox" class="lake" name="lake1" value="RADUŃSKIE DOLNE" />RADUŃSKIE DOLNE<br/>
<input type="checkbox" class="lake" name="lake2" value="RADUŃSKIE GÓRNE" />RADUŃSKIE GÓRNE<br/>
<input type="checkbox" class="lake" name="lake3" value="OSTRZYCKIE" />OSTRZYCKIE<br/>
<input type="checkbox" class="lake" name="lake4" value="ŁĄCZYŃSKIE" />ŁĄCZYŃSKIE<br/>
<input type="checkbox" class="lake" name="lake5" value="BRODNO WIELKIE" />BRODNO WIELKIE<br/>
<input type="checkbox" class="lake" name="lake6" value="BRODNO MAŁE" />BRODNO MAŁE<br/>
<input type="checkbox" class="lake" name="lake7" value="KŁODNO" />KŁODNO<br/>
<input type="checkbox" class="lake" name="lake8" value="BIAŁE" />BIAŁE<br/>
<input type="checkbox" class="lake" name="lake9" value="BUKSZYNO DUŻE" />BUKSZYNO DUŻE<br/>
<input type="checkbox" class="lake" name="lake10" value="BUKSZYNO MAŁE" />BUKSZYNO MAŁE<br/>
<input type="checkbox" class="lake" name="lake11" value="NIERZESTOWO" />NIERZESTOWO<br/>
<input type="checkbox" class="lake" name="lake12" value="REKOWO" />REKOWO<br/> -->

<div class="form-group-sm">
	<label class="col-sm-3 control-label">Kod pocztowy: </label>
	<div class="col-sm-5">
		<input class="form-control" type="text" id="postnumber" name="postnumber" value="<?= $postnumber ?>" required>
	</div>
	<div class="col-sm-4 error-status">

	</div>
</div>

<div class="form-group-sm">
	<label class="col-sm-3 control-label">Miasto: </label>
	<div class="col-sm-5">
		<input class="form-control" type="text" id="city" name="city" value="<?= $city ?>" required>
	</div>
	<div class="col-sm-4 error-status">

	</div>
</div>